/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 16px;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para encabezados */
h1, h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Estilos generales para los botones */
button {
    background-color: #E573FE;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #7C3E8A;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

/* Estilos para inputs y selects */
input, select {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #444444;
    color: white;
    font-size: 16px;
}

input:focus, select:focus {
    outline: none;
    border-color: #e573fe;
}

/* Estilos para las acciones */
.actions, .search {
    text-align: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input {
    flex: 1;
    margin-right: 10px;
    background-color: #444444;
    color: white;
}

.search-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    flex-direction: row;
    gap: 10px;
}

/* Estilos de la tabla */
.results {
    max-height: 70vh;
    overflow-y: auto;
    background-color: #333333;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2c2c;
    border-radius: 8px;
    overflow: hidden;
}

thead th {
    background-color: #e573fe; /* Color de la cabecera */
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: left;
}

/* Vista escritorio */
@media (min-width: 768px) {
    /* Ajuste de ancho para la columna Nombre */
    th:nth-child(1), td:nth-child(1) {
        width: 150px; /* Ancho específico para la columna Nombre */
    }
    /* Ajuste de ancho para la columna Apellidos */
    th:nth-child(2), td:nth-child(2) {
        width: 180px; /* Ancho específico para la columna Apellidos */
    }
    /* Ajuste de ancho para la columna Fecha */
    th:nth-child(3), td:nth-child(3) {
        width: 80px; /* Ancho específico para la columna Fecha */
    }
    /* Ajuste de ancho para la columna Sexo */
    th:nth-child(4), td:nth-child(4) {
        width: 80px; /* Ancho específico para la columna Sexo */
    }
    /* Ajuste de ancho para la columna Teléfono */
    th:nth-child(5), td:nth-child(5) {
        width: 80px; /* Ancho específico para la columna Teléfono */
    }
    /* Ajuste de ancho para la columna Acciones */
    th:nth-child(6), td:nth-child(6) {
        width: 180px; /* Ancho específico para la columna Acciones */
    }

    .action-buttons {
        display: flex;
        justify-content: space-around; /* Distribuir los botones uniformemente */
        gap: 10px;
    }

    .action-buttons button {
        flex: 1;
        padding: 8px 12px;
        font-size: 14px;
    }
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 767px) {
    /* Asegurarse de que los botones se apilen en dispositivos móviles */
    .action-buttons {
        justify-content: center;
        flex-direction: column; /* Apilar botones verticalmente */
        gap: 5px;
    }

    .container {
        width: 95%;
        padding: 20px;
    }

    .results {
        max-height: 50vh;
        overflow-y: auto;
        background-color: #333333;
        padding: 10px;
        border-radius: 8px;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        display: none; /* Ocultar encabezado en dispositivos móviles */
    }

    tbody tr {
        display: block;
        border-bottom: 1px solid #333;
        margin-bottom: 10px;
    }

    tbody td {
        display: block;
        text-align: right;
        padding: 10px;
        border-bottom: 1px solid #444;
        position: relative;
        padding-left: 50%;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    tbody td .action-buttons {
        justify-content: center;
    }

    tbody td button {
        padding: 5px 10px;
        cursor: pointer;
    }

    tbody td button:hover {
        background-color: #7C3E8A;
    }
}

/* Vista intermedia para tablets */
@media (min-width: 767px) and (max-width: 1024px) {
    th:nth-child(1), td:nth-child(1) { /* Nombre */
        width: 20%;
    }
    th:nth-child(2), td:nth-child(2) { /* Apellidos */
        width: 20%;
    }
    th:nth-child(3), td:nth-child(3) { /* Fecha */
        width: 15%;
    }
    th:nth-child(4), td:nth-child(4) { /* Sexo */
        width: 15%;
    }
    th:nth-child(5), td:nth-child(5) { /* Teléfono */
        width: 15%;
    }
    th:nth-child(6), td:nth-child(6) { /* Acciones */
        width: 15%;
        text-align: center;
    }
    .action-buttons {
        display: flex;
        justify-content: left;
        flex-wrap: wrap; /* Permitir que los botones se ajusten a varias líneas */
    }
}


/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#noteText {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

#saveNoteButton {
    background-color: #e573fe;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#saveNoteButton:hover {
    background-color: #7C3E8A;
}

.note {
    background-color: #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.note span {
    display: block;
    color: #ccc;
    font-size: 0.9em;
    margin-top: 5px;
    text-align: right;
}

/* Estilos del pie de página */
footer {
    background-color: #222;
    color: #bbb;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer a {
    color: #e573fe;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
    color: #7C3E8A;
}

/* Estilos del encabezado */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: left;
}

header .logo {
    height: 100px;
    margin-right: 10px;
}

header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 24px;
}

/* Ajustes del contenedor para evitar superposición con el encabezado */
.container {
    padding-top: 110px;
}
